@model IEnumerable<QuanAoTheThaoC5.Models.Product>

@{
	ViewData["Title"] = "Cart";
	double tt = 0;
	double tong = 0;
}

<h4> Home Page </h4>


 
        @{
            foreach (var item in Model)
        {
            <ul class="thumbnails">
            <tr>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="~/themes/images/products/6.jpg" alt="" /></a>
                        <div class="caption">
                            <h5 style="margin-left :10px">@item.Name</h5>

                            <h4 style="margin-left :10px">



                                <br />  <span>Giá Sản phẩm : @item.Price</span>
                                <br />  <span>Số lượng còn : @item.Quantity</span>
                                <br /> <a class="btn" href="@Url.Action("DetailsProduct","Product",new {id=item.Id})">Chi tiết </a>
                    
                                <br /> <a class="btn" href="@Url.Action("Muahang","Home",new {id=item.Id})">Mua hàng </a>

                            </h4>

                        </div>
                    </div>
                </li>
        </tr>
            </ul>
            }
        }



