@model IEnumerable<QuanAoTheThaoC5.Models.ProductImg>

@*@{
	ViewData["Title"] = "Cart";
	double tt = 0;
	double tong = 0;
}

<h4> Cart </h4>

	 	<section class="shopping-cart dark">
 
        @{
        foreach (var item in ViewBag.product)
        {
            
                        
             var a = Model.FirstOrDefault(c => c.IDProduct == item.Id);
                        
            <ul class="thumbnails">
            <tr>
                <li class="span3">
                    <div class="thumbnail">
                       
                        <div class="caption">
                            <h5 style="margin-left :10px">@item.Name</h5>

                            <h4 style="margin-left :10px">


                                <br />  <span>Giá Sản phẩm : @item.Price</span>
                                <br />  <span>Số lượng : @item.Quantity</span>
                                <br /> <a class="btn" href="@Url.Action("DetailsProduct","Product",new {id=item.Id})">Chi tiết </a>                    
                                <br /> <a class="btn" href="@Url.Action("Muahang","Home",new {id=item.Id})">Mua hàng </a>

                            </h4>

                        </div>
                    </div>
                </li>
        </tr>
            </ul>
            }
        }*@




@{
	ViewData["Title"] = "Cart";
	double tt = 0;
	double tong = 0;
}

<h4> Home Page </h4>
<h1>ShowToCart</h1>
@if (Model != null)
{
    <table class="table" >
        <thead style="background-color:turquoise">
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Image
                </th>
                <th>
                    Price
                </th>
                <th>
                    Số Lượng
                </th>
                <th>
                   Tổng Tiền
                </th>
                <th>
                   Chọn
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in ViewBag.product)
             
            {
                var a = Model.FirstOrDefault(c => c.IDProduct == item.Id);
                 tt = Convert.ToDouble(item.Price * item.Quantity);
                 tong += tt;
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a href="product_details.html"><img src="~/themes/img/@a.URl" alt="" /></a>
                    </td>
                    <td>
                       @item.Price
                    </td>
                    <td>
                      <div class="def-number-input number-input safari_only">
                            <form asp-action="tanggiam" asp-controller="Home" asp-route-id="@item.Id">
                                <input class="quantity fw-bold text-black" min="0" name="quantity" value="@item.Quantity"
                               type="number">
                            <button>Update</button>
                            </form>
                        </div>
                    </td>
                    <td>



                        <div class="d-flex justify-content-between p-2 mb-2" >
                            <h5 class="fw-bold mb-0" style="color:red">@tong</h5>
                        </div>
                    </td>
                    <td>
                        <a  href="@Url.Action("DeleteCartItem","Home",new { id = item.Id})" class="btn"><i class="bi bi-trash3">Clear</i></a>
                    </td>
                    <td>
                        <a class="btn" href="@Url.Action("Muahang","Home",new {id=item.Id})">Mua hàng </a> 
                    </td>
                </tr>
                }
        </tbody>
    </table>
}