@model IEnumerable<QuanAoTheThaoC5.Models.Product>

@{
    ViewData["Title"] = "View";
    
                     var a=   Convert.ToDouble(@ViewBag.data.Quantity) * Convert.ToDouble(@ViewBag.data.Price);
                    
}

<h1>Thanh Toán</h1>
@{
    if (ViewBag.data==null)
    {
    @foreach (var item in Model)
        {
    <div class="card" style="width: 18rem;">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text">Tên sản phẩm : @item.Name </p> <br />
                                <p class="card-text">Số lượng  :  </p>@item.Quantity <br />
                                <p class="card-text">Đơn giá : @item.Price </p> <br />
                                <p class="card-text">Tổng tiền :  </p> <br />

                                <br /> <a class="btn" href="@Url.Action("Thanhtoan","Home",new {id=item.Id})">Chi tiết </a>
                            </div>
    </div>

            ///

        }
    }
    else
    {
    <div class="card" style="width: 18rem;">
                        <img src="~/themes/img/@ViewBag.img.URl" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text">Tên sản phẩm : @ViewBag.data.Name  </p> <br />
                            <p class="card-text">Số lượng  : @ViewBag.data.Quantity  </p> <br />
                            <p class="card-text">Đơn giá : @ViewBag.data.Price </p> <br />
                            <p class="card-text">Tổng tiền : @a </p> <br />
                            <br /> <a class="btn" href="@Url.Action("Thanhtoan","Home",new {id=ViewBag.data.Id})">Thanh Toán</a>
                        </div>
    </div>
    }
    <select  class="form-select" aria-label="Default select example">
        <option selected>Chọn TP</option>
        @{
            foreach (var item in ViewBag.LTP)
            {
                <option value="@item.ProvinceName">@item.ProvinceName</option>
            }
        }
    </select>

}
