@model IEnumerable<QuanAoTheThaoC5.Models.ProductMaterialDetails>

@{
    ViewData["Title"] = "ProductMaterialDetailsView";
}

<h1>ProductMaterialDetailsView</h1>


    <button class="btn btn-primary"> <a asp-action="CreateProductMaterialDetails" class="text-decoration-none ; text-light">Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ProductMaterial</th>
            <th>Product</th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
       
            <td>
                
                    @foreach (var x in ViewBag.LstP)
                    {
                        if (x.Id==item.IDProductMaterial)
                        {
                            <p>@x.Name</p>
                        
                        }                 
                    }
            </td>
            <td>
               
                    @foreach (var x in ViewBag.lstsp)
                    {
                        if (x.Id==item.IDProduct)
                        {
                            <p>@x.Name</p>
                        
                        }                 
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
    
                    @Html.ActionLink("Edit", "UpdateProductMaterialDetails", new { id=item.Id},new{@Class="btn btn-primary"})

                    @Html.ActionLink("Delete", "DeleteProductMaterialDetails", new { id=item.Id},new{@Class="btn btn-danger"} )
            </td>
        </tr>
}
    </tbody>
</table>
