@model IEnumerable<QuanAoTheThaoC5.Models.Size>

@{
    ViewData["Title"] = "SizeView";
}

<h1>SizeView</h1>

<p>
   

    <button class="btn btn-primary"> <a asp-action="CreateSize" class="text-decoration-none ; text-light">Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.SizeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
      
            <td>
                @Html.DisplayFor(modelItem => item.SizeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
             

                    
            @Html.ActionLink("Edit", "EditSize", new { id=item.SizeId},new{@Class="btn btn-primary"})
            
            @Html.ActionLink("Delete", "DeleteSize", new { id=item.SizeId},new{@Class="btn btn-danger"} )

            </td>
           
        </tr>
}
    </tbody>
</table>
